[submodule "other/go-mode"]
	path = other/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "other/emacs-color-themes"]
	path = other/emacs-color-themes
	url = https://github.com/owainlewis/emacs-color-themes.git
[submodule "other/Enhanced-Ruby-Mode"]
	path = other/Enhanced-Ruby-Mode
	url = https://github.com/jacott/Enhanced-Ruby-Mode.git
[submodule "other/elisp"]
	path = other/elisp
	url = https://github.com/zenspider/elisp.git
